---

- name: locate inventory.pl
  stat: 
    path: "{{ role_path }}/files/inventory.pl"
  register: p
  delegate_to: localhost
  run_once: true

- name: build inventory argument
  set_fact: 
    inventories: "--inventory={{ ansible_inventory_sources | join(' --inventory=') }}"
  delegate_to: localhost
  run_once: true

- name: execute inventory.pl
  command: "{{ p.stat.path }} --directory={{ tmpdir.path }} {{ inventories }}"
  register: exec
  delegate_to: localhost
  run_once: true
  when: ( p.stat.path is defined and p.stat.path ) and
        ( p.stat.isreg is defined and p.stat.isreg ) and
        ( p.stat.xusr is defined and p.stat.xusr )

- name: display execution stdout
  debug: var=exec.stdout
